	<div class="center hero-unit">
	  <h1>About</h1>

	  <h2>
	    A project to connect fitness band users in competition to motivate users to push themselves further.
	  </h2>
	  </br>
	  <h2>
	  	Currently there are two ways that a user's steps data will be updated. The first is that everytime a user's profile is viewed, their most recent data is requested. The second way is that every few hours behind the scenes we grab the most active users data. This process is used to minimize the load times for pages and avoid outages from the data providers.
	  </h2>

	</div>