<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <% if @device %>
        <p><%= @device.provider %> user</p>
        <p><%= @user.today_steps %> steps today</p>

      <% end %>
    </section>
  </aside>
  <div class="span8">

  </div>
</div>